<div class="container">
  <h2>Articles</h2>

    <!-- Article input -->
    <form ng-submit="sendArticle()">
      Titulo: <input placeholder="What needs to be written?" ng-model="article.title"> <br />
      Tags: <input ng-model="article.tags"><br />
      Sum&aacute;rio: <textarea ng-model="article.excerpt" ng-required="true"></textarea><br />
      Conte&uacute;do: <textarea ng-model="article.content" ng-required="true"></textarea><br />
      <input type="submit" class="btn btn-primary" value="Add">
    </form>

  
    <!-- Article list -->
    <ul>
      <li ng-repeat='article in articles'>
        <p>{{article.title}}</p>
        <div class="btn-group" role="group" aria-label="...">
          <button ng-click="showArticle(article)" type="button" class="btn btn-default">Visualizar</button>
          <button ng-click="editArticle(article)" type="button" class="btn btn-default">Editar</button>
          <button ng-click="removeArticle(article)" type="button" class="btn btn-default">Remove</button>
        </div>
      </li>
    </ul>

    <!-- Current article -->
    <div ng-if="currentArticle">
      <dl>
        <dd>Título</dd>
        <dt>{{currentArticle.title}}</dt>

        <dd>Sum&aacute;rio</dd>
        <dt>{{currentArticle.excerpt}}</dt>

        <dd>Conte&uacute;do:</dd>
        <dt>{{currentArticle.content}}</dt>
      </dl>
    </div>

</div>