<div class="container">

  <!-- Article list -->
  <div infinite-scroll='loadMore()'>
    <section>
      <h1>Artigos cadastrados</h1>
      <article  ng-repeat='article in articles | reverselist | limitTo:limit'>
        <h1>{{article.title}}, <span class="mark slug">{{article.title | slugPattern}}</span></h1>
        <p class="excerpt">{{article.excerpt}}</p>
        <div class="btn-group" role="group" aria-label="...">
          <button ng-click="showArticle(article)" data-toggle="modal" data-target="#formModal" type="button" class="btn btn-default">Visualizar</button>
          <button ng-click="editArticle(article)" data-toggle="modal" data-target="#formModal" type="button" class="btn btn-default">Editar</button>
          <button ng-click="removeArticle(article)" type="button" class="btn btn-default">Remove</button>
        </div>
        <a href="#/"
          socialshare
          socialshare-provider="facebook"
          socialshare-text="{{article.excerpt}}"
          socialshare-url="http://angellicacardozo.github.io/frontarticles/#/">
            <img src="images/fb.png" />
        </a>
        <a href="#/"
          socialshare
          socialshare-provider="google+"
          socialshare-text="{{article.excerpt}}"
          socialshare-caption="{{article.title}}"
          socialshare-url="http://angellicacardozo.github.io/frontarticles/#/l">
            <img src="images/gplus.png" />
        </a>
        <a href="#/"
          socialshare
          socialshare-provider="twitter"
          socialshare-url="http://angellicacardozo.github.io/frontarticles/#/"
          socialshare-text="{{article.excerpt}}"
          socialshare-hashtags="{{article.tags}}">
            <img src="images/tw.png" />
        </a>
      </article>
    </section>
  </div>

  <div ng-if="articles.length===0" class="alert alert-info">
    <strong>Info!</strong> Nenhum artigo cadastrado.
  </div>

<!-- Modal -->
<div id="formModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">


      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">
          <span ng-if="currentArticle!==null">{{currentArticle.title}} | Artigo</span>
          <span ng-if="article.title!=='' && currentArticle===null">Editar {{article.title}}</span>
          <span ng-if="article.title==='' &&currentArticle===null">Novo Artigo</span>
        </h4>
      </div>
      <div class="modal-body">
        <!-- Article input -->
        <form class="form-horizontal" role="form" name="articleForm" ng-if="currentArticle===null" ng-submit="sendArticle()" unsaved-warning-form>
          <div class="form-group">
            <label class="control-label col-sm-2" for="titulo">Titulo:</label>
            <div class="col-sm-10">
              <input id="titulo" name="titulo" ng-required="true" placeholder="Pensa em escrever o que?" ng-model="article.title">
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-sm-2" for="titulo">Tags:</label>
            <div class="col-sm-10">
              <input ng-required="true" ng-model="article.tags">
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-sm-2" for="titulo">Sum&aacute;rio:</label>
            <div class="col-sm-10">
              <textarea ng-model="article.excerpt" ng-required="true"></textarea>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-sm-2" for="titulo">Conte&uacute;do:</label>
            <div class="col-sm-10">
              <textarea ng-model="article.content" ng-required="true"></textarea>
            </div>
          </div>

          <input type="submit" class="btn btn-primary" value="Salvar">
        </form>

        <dl ng-if="currentArticle!==null">
          <dt>Título</dt>
          <dd>{{currentArticle.title}}</dd>

          <dt>Sum&aacute;rio</dt>
          <dd>{{currentArticle.excerpt}}</dd>

          <dt>Conte&uacute;do:</dt>
          <dd>{{currentArticle.content}}</dd>
        </dl>

      </div>
      <div class="modal-footer">
        <button ng-click="cancelArticle()" type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
      </div>
    </div>


</div>
</div>